@namespace MudBlazor
@inherits MudBaseButton

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname" 
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            href="@Href" 
            target="@Target"
            rel="@GetRel()"
            disabled="@GetDisabledState()"
            ClickPropagation="@ClickPropagation">
    <span class="mud-button-label">
        @if (IconData.StartIcon())
        {
            <span class="@StartIconClass">
                <MudIcon IconProperties="@IconData" />
            </span>
        }
        @ChildContent
        @if (IconData.EndIcon())
        {
            <span class="@EndIconClass">
                <MudIcon IconProperties="@IconData" />
            </span>
        }
    </span>
</MudElement>