@namespace MudBlazor
@inherits MudBaseButton

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname"
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            href="@Href"
            target="@Target"
            rel="@GetRel()"
            disabled="@GetDisabledState()"
            title="@IconData.Title"
            ClickPropagation="@ClickPropagation">
    <span class="mud-fab-label">
        @if (IconData.StartIcon())
        {
            <MudIcon IconProperties="@IconData" />
        }
        @Label
        @if (IconData.EndIcon())
        {
            <MudIcon IconProperties="@IconData" />
        }
    </span>
</MudElement>