@namespace MudBlazor
@inherits MudBaseButton

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname" 
            Style="@Style"
            @attributes="UserAttributes" 
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()" 
            href="@Href" 
            target="@Target"
            rel="@GetRel()"
            disabled="@GetDisabledState()"
            title="@IconData.Title"
            ClickPropagation="@ClickPropagation">
    @if (IconData.HasIcon())
    {
        <span class="mud-icon-button-label">
            <MudIcon IconProperties="@IconData" />
        </span>
    }
    else
    {
        <MudText Typo="Typo.body2" Color="Color.Inherit">@ChildContent</MudText>
    }
</MudElement>