@namespace MudBlazor
@inherits MudComponentBase

@if (IconData.IsSvg())
{
   <svg @attributes="UserAttributes" class="@Classname" style="@IconData.Style" focusable="@IconData.Focusable" viewBox="@IconData.ViewBox" aria-hidden="@IconData.AriaHidden">
      @if (IconData.HasTitle())
      {
         <title>@IconData.Title</title>
      }

      @((MarkupString)IconData.Icon)
   </svg>
}
else
{
   <span @attributes="UserAttributes" class="@($"{Classname} {IconData.Icon}")" style="@IconData.Style" title="@IconData.Title" />
}
